h1, h2 {
      text-align: center;
}

      body {
        background-color: black;
        color: white;
        position: absolute;
        font-family: monospace;
      }
      img {
        width: 30%;
      }
      p {
        font-family: sans-serif;
      }
